/*===== Reset =====*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

textarea:focus,
textarea,
input,
input:focus,
select:focus {
    box-shadow: 0 0 0 0 !important;
    outline: 0 !important;
}

/*===== Variables setup =====*/
:root {
    --primary: #CA054D;
    --primary-dark: #9e033c;
    --black: #0F0214;
    --gray-dark: #333840;
    --gray-1: #EBEBEB;
    --gray-2: #d3d4db;
    --purple-dark: #332B3E;
    --white: #fff;
    --transition-text: color 0.1s ease-in-out;
    --transition-btn: background 0.25s ease-in-out;
    --header-height: 3.5rem;
    --nav-width: 219px;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    --font-medium: 500;
    --font-semi-bold: 600;
    --z-fixed: 100;
}



body {
    font-family: 'Poppins', sans-serif;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

/*===== Blade Layout =====*/
.main-page {
    margin: var(--header-height) 0 0 0;
}

.main-page.blur {
    transition: .7s;
    filter: blur(3px);
    pointer-events: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white);
    box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
    padding: 0 1rem;
    z-index: var(--z-fixed);
}

.header-container {
    display: flex;
    align-items: center;
    height: var(--header-height);
    justify-content: space-between;
}

.current-page {
    font-weight: 500;
    font-size: 19px;
    text-decoration: none;
}

.header-icon,
.header-toggle {
    font-size: 30px;
    line-height: 0px;
}

.header-toggle {
    color: var(--black);
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100% !important;
    padding: 1rem 1rem 0;
    background-color: var(--white);
    box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
    z-index: var(--z-fixed);
    transition: .7s;
}

.nav-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 3rem;
    overflow: auto;
    scrollbar-width: none;
}

.nav-container::-webkit-scrollbar {
    display: none;
}

.nav-logo {
    margin-bottom: 2.5rem;
}

.nav-logo span {
    font-weight: 500;
    margin-left: 5px;
    font-size: 19px;
}

.nav-brand {
    width: 20px;
}

.nav-list,
.nav-items {
    display: grid;
}

.nav-list {
    row-gap: 2.5rem;
}

.nav-items {
    row-gap: 1.5rem;
}

.nav-subtitle {
    font-size: var(--normal-font-size);
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: var(--gray-2);
}

.nav-link {
    display: flex;
    align-items: center;
    color: var(--black);
}

.nav-link:hover {
    color: var(--primary);
    transition: var(--transition-text) !important;
}

.nav-dropdown-icon {
    margin-left: auto;
    transition: .4s;
}

.nav-dropdown-collapse:hover .nav-dropdown-icon {
    transform: rotate(180deg);
}

.list-group {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: max-height 0.3s ease, opacity 0.5s ease, visibility 0s linear 0.3s;
}

.nav-link-collapse:hover+.list-group,
.list-group:hover {
    max-height: 500px;
    opacity: 1;
    visibility: visible;
    transition-delay: 0.3s;
}

.list-group .btn {
    margin: 0px;
}

.list-group-item a {
    text-decoration: none;
    font-size: 12px;
    color: var(--gray-dark);
}

.nav-icon {
    font-size: 1.2rem;
    margin-right: .5rem;
}

.nav-name {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    white-space: nowrap;
}

.nav-logout {
    margin-top: 5rem;
}

.show-menu {
    left: 0;
}

.active {
    color: var(--primary);
}

@media screen and (min-width: 768px) {
    body>.start-page {
        padding: 0.5rem 0rem 0 4.3rem;
    }

    .header {
        padding: 0 3rem 0 6rem;
    }

    .header-container {
        height: calc(var(--header-height) + .5rem);
    }

    .header-toggle {
        display: none;
    }

    .current-page {
        font-weight: 500;
        font-size: 19px;
        text-decoration: none;
    }

    .sidebar {
        left: 0;
        padding: 1.2rem 1.5rem 0;
        width: 68px;
    }

    .nav-items {
        row-gap: 1.7rem;
    }

    .nav-icon {
        font-size: 1.3rem;
    }

    /* Element opacity */
    .nav-logo-name,
    .nav-name,
    .nav-subtitle,
    .nav-dropdown-icon {
        opacity: 0;
        transition: .5s;
    }

    .sidebar:hover {
        width: var(--nav-width);
    }

    .sidebar:hover .nav-logo-name {
        opacity: 1;
    }

    .sidebar:hover .nav-subtitle {
        opacity: 1;
    }

    .sidebar:hover .nav-name {
        opacity: 1;
    }

    .sidebar:hover .nav-dropdown-icon {
        opacity: 1;
    }


}

/*===== Index Note =====*/
.notes-container {
    padding: 0 !important;
}

.notes-container.row {
    margin: 0 !important;
}

.notes-container .note-card {
    margin-top: 10px;
    border-radius: 15px;
    background: #EDF1FA;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
    min-height: 200px;
}

.note-card>.note-title {
    font-size: 25px;
    font-weight: 600;
    color: var(--black);
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.note-card>.note-date {
    font-size: 12px;
    font-weight: 300;
    color: var(--black);
    opacity: 0.5;
}

.note-card>.note-content {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    color: var(--black);
    margin-bottom: 20px;
    max-height: 23.99px;
    min-height: 23.99px;
    overflow: hidden;
    line-height: 1.5;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.note-card>.note-button {
    display: inline-block;
    background-color: var(--primary);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.note-card>.note-button:hover {
    background-color: var(--primary-dark)
}

/*===== Form Note Create =====*/

.form-note {
    padding: 0 !important;
}

.form-note>.form-control {
    height: 50px;
    font-size: 23px;
    border: none;
    border-radius: 0;
    color: var(--black);
    border-bottom: 2px solid var(--gray-2);
    transition: border-color 0.3s linear;

}

.form-note>.form-control:focus,
.form-note>.form-control:valid {
    border-color: var(--primary);
}

.form-note>.fixed-bottom-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #f8f9fa;
    box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.1);
}

.form-note>.fixed-bottom-container .button-animation {
    animation-name: buttonAnimation;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
}

@keyframes buttonAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}



/*===== CKEditor =====*/
/**
 * @license Copyright (c) 2014-2023, CKSource Holding sp. z o.o. All rights reserved.
 * This file is licensed under the terms of the MIT License (see LICENSE.md).
 */

.ck .ck-sticky-panel .ck-sticky-panel__content_sticky {
    margin-top: var(--header-height);
    transition: .5s;
}

.ck.ck-content:not(.ck-comment__input *) {
    min-height: calc(100vh - 145.42px);
}

@media screen and (min-width: 768px) {
    .ck.ck-content:not(.ck-comment__input *) {
        min-height: calc(100vh - 153.42px);
    }
}

/*===== Auth =====*/
.main-login {
    background: linear-gradient(0deg, #920035 -90.95%, #0F0214 80.91%);
}

.card-login-register {
    width: 500px;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.299);
    background: rgba(255, 255, 255, 0.13);
    box-shadow: 0px 4px 26px 0px rgba(0, 0, 0, 0.25);
}

.card-login {
    padding: 40px 42px;
}

.card-register {
    padding: 35px 42px;
}

.card-login-register>div {
    width: 100%;
}

.card-login-register>.brand>img {
    width: 50px;
    margin-right: 10px;
}

.card-login-register>.brand>h3 {
    color: var(--white);
    font-size: 40px;
    font-weight: 500;
    margin: 0 !important;
}

.card-login-register>.form {
    margin-top: 50px;
    width: 100%;
}

.form>.form-group>label {
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
}

.form>.form-group>.input-icon {
    position: absolute;
    z-index: 2;
    height: 2.5rem;
    line-height: 3.15rem;
    text-align: center;
    color: var(--white);
    font-size: 22px;
    transition: color 0.3s ease-in-out;
}

.form>.form-group>.form-control {
    position: relative;
    height: 50px;
    padding: 10px;
    font-size: 18px;
    border-color: transparent;
    box-shadow: none;
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: var(--white);
    padding-left: 2rem;
    border-bottom: 3px solid var(--white);
    transition: border-color 0.3s linear;
}

.form>.form-group>.form-control[type="password"]:not(:placeholder-shown) {
    padding-top: 15px;
}

.form>.form-group>.form-control:focus {
    border-color: var(--primary);
}

.form>.form-group>.form-control:focus-within .input-icon {
    color: var(--primary);
}

.form>.form-group>.form-control::placeholder {
    color: var(--gray-2);
}

.form .form-group:focus-within .input-icon {
    color: var(--primary);
}

.form-group>.alert {
    background-color: var(--primary-dark);
    color: var(--white);
    font-size: 15px;
    padding: .5rem .5rem;
    border: none;
    border-radius: 0;
}

.form>div>.form-check>.form-check-label {
    color: var(--white);
    font-size: 14px;
    font-weight: 300;

}

.form>div>.form-check>.form-check-input:checked {
    background-color: var(--primary);
    border: none;
}

.form>div>.forgot-password>a {
    color: var(--white);
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    transition: var(--transition-text);
}

.form>div>.forgot-password>a:hover {
    color: var(--gray-2);
}

.card-login .form-buttons {
    margin-top: 20px;
}

.card-register .form-buttons {
    margin-top: 30px;
}

.form-buttons>.btn-login,
.form-buttons>.btn-google {
    width: 100%;
    height: 55px;
    border-radius: 10px;
    box-shadow: 0px 4px 26px 0px rgba(0, 0, 0, 0.25);
    padding: 15px 0px;
    font-weight: 500;
    color: var(--white);
    outline: none;
    border: none;
    transition: var(--transition-btn);
}

.form-buttons>.btn-login,
.form-buttons>.btn-register {
    background-color: var(--primary);
    font-size: 17px;
}

.form-buttons>.divider {
    background-color: #E5E5E5;
    margin: 25px 0px;
}

.form-buttons>.btn-google {
    background: linear-gradient(0deg, #920035 -150%, #0F0214 80%);
    font-size: 16px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
}

.form-buttons>.btn-google>img {
    margin-right: 5px;
}

.form-buttons>.btn-login:hover,
.form-buttons>.btn-register:hover {
    transition: var(--transition-btn);
    background-color: var(--primary-dark);
}

.form-buttons>.btn-google:hover {
    transition: var(--transition-btn);
    opacity: 0.8;
}

.card-login-register>.sign-up>p,
a,
.sign-in>p,
a {
    font-size: 16px;
    margin: 0;
}

.card-login-register>.sign-up>p,
.sign-in>p {
    color: var(--white);
}

.card-login-register>.sign-up>a,
.sign-in a {
    color: var(--primary);
    transition: var(--transition-text);
}

.card-login-register>.sign-up>a:hover,
.sign-in a:hover {
    color: var(--primary-dark);
}



@media (max-width: 768px) {
    .main-login>.row>.col-lg-12 {
        align-items: start !important;
        margin-top: 30px;
    }

    .card-login {
        padding: 20px;
    }

    .form>.form-buttons>button {
        height: 45px;
        font-size: 14px;
        padding: 10px 0px;
    }

    .form>.form-buttons>.btn-google {
        font-size: 13px;
    }

    .card-login-register>.sign-up>p,
    .sign-in>p,
    .card-login-register>.sign-up>a,
    .sign-in>a {
        font-size: 15px;
    }
}